// Définition des variables de couleurs
$perfectPeach: #F5BA93; // Pêche Parfait (Perfect Peach)
$deepBronze: #9D702D; // Bronze Profond (Deep Bronze)
$richBrown: #5E472E; // Brun Riche (Rich Brown)
$ecru: #FAEFE1; // Écru (Ecru)
$darkOliveGreen: #594638; // Dark Olive Green

// Fonts
@font-face {
  font-family: 'Bungee';
  src: url('/fonts/Bungee-Regular.ttf') format('truetype');
}

// Page
html, body {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 1em 2em 2em 2em;
  margin: 0;
  font-size: .9em;
  color: $darkOliveGreen;
  font-family: 'Bungee', sans-serif;
  cursor: url('/img/vector.png'), default;
  overflow: hidden;

  #logo {
    font-size: 1.2em;
  }

  #content {
    background: $ecru;

    #model {
      > div {
        &:first-child {
          position: absolute;
          z-index: 0;
          width: 75%;
          display: flex;
          justify-content: center;
          align-items: center;
          top: calc(50% + 6vh);
          left: calc(50% - 2vw);
          transform: translate(-50%, -50%);
        }
      }
    }

    #title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 8em);
      padding: 4em 0;
      width: 50%;
      margin-left: -5em;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:first-child {
          height: 70%;

          > div {
            display: flex;
            flex-direction: column;

            > h1 {
              margin: 0;
              font-size: 5.75vw;
              line-height: 1.2em;
              letter-spacing: 3.5px;
              font-weight: normal;
              white-space: nowrap;

              &:first-child {
                color: $perfectPeach;
              }

              &:nth-child(2) {
                color: $deepBronze;
              }

              &:last-child {
                color: $richBrown;
              }
            }
          }
        }

        &:last-child {
          height: 30%;

          > div {
            background: $perfectPeach;
            padding: 0 5em;

            > h3 {
              letter-spacing: 2px;
              color: white;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

canvas {
  display: block;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 129.65px;
  background-size: cover;

  /* Propriétés d'animation */
  transition: transform .15s ease-in-out;
  transform-origin: center;
}

#cursor.strike {
  /* Animation de frappe */
  animation: strike .15s linear;
}

/* Animation de frappe */
@keyframes strike {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(45deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}